/* Background */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #eff2f5, #42a5f5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main container */
.container {
    background: #ffffffee;
    padding: 40px;
    border-radius: 20px;
    width: 380px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Title */
h1 {
    color: #0d47a1;
    margin-bottom: 5px;
    font-size: 20px;
}

.subtitle {
    color: #333;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Inputs */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    color: #0d47a1;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 2px solid #0d47a1;
    border-radius: 10px;
    background: #f8f9ff;
    color: #000;
    font-size: 14px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #42a5f5;
    box-shadow: 0 0 8px #42a5f5aa;
}

/* Button */
.btn {
    width: 100%;
    padding: 14px;
    background: #0d47a1;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #08306b;
}
